.menu {
  font-family: Helevetica;
  font-size: 18px;
  color: white;
}
.title{
  font-fmaily: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.process {
  font-family:helvetica;
  font-size: 32px;
  font-weight: bold;
}
.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
.designed {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.sections {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.subtitles {
  font-family: 14px;
}
